* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.intro {
  height: 100vh;
}

.intro #myimg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro h1 {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: white;
  font-weight: 999;
  background-color: #2a4ea9;
  padding: 20px;
  border-radius: 10px;
}

.section1 {
  background-color: #141414;
  color: white;
  padding: 50px;
  padding-bottom: 100px;
}

.waitlist-banner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.waitlist-banner-text-for-preview {
  font-size: 25px;
}
.waitlist-banner-text-for-coming-soon {
  font-size: 20px;
}
.btn-to-join {
  border-radius: 40px;
  border: 1px white solid;
  padding: 10px;
  font-size: 20px;
}

.section1 h2 {
  padding-top: 100px;
  width: 60%;
  margin: 0 auto;
  font-size: 4em;
  line-height: 1.1em;
}

.section1 h2 .intro1 {
  color: #2a4ea9;
}

.section1 h2 .intro2 {
  color: #ED217C;
}

.section1 h2 .intro3 {
  color: #FF9B71;
}

.section1 p {
  width: 55%;
  margin: 0 auto;
  margin-top: 2em;
  font-size: 20px;
  line-height: 1.5em;
}

.section1 p .fliingo {
  font-size: 30px;
  font-weight: 900;
  color: #ED217C;
}

.section1 img {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.section2 {
  background-color: black;
  color: white;
  /* padding-bottom: 100px; */
}

.section2 h2 {
  background-image: linear-gradient(to right top, #2a4ea9, #883baa, #cc008d, #f60057, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 50%;
  margin: 0 auto;
  font-size: 3.25em;
  line-height: 1em;
  padding-top: 100px;
}

.section2 p {
  width: 50%;
  margin: 0 auto;
  margin-top: 2em;
  font-size: 20px;
  line-height: 1.5em;
}

.section2 img {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.section3 {
  background-color: black;
  color: white;
  padding: 50px;
  padding-bottom: 100px;
}

.section3 h2 {
  color: #FF9B71;
  width: 50%;
  margin: 0 auto;
  font-size: 3.25em;
  line-height: 1em;
  padding-top: 50px;
}

.section3 p {
  width: 50%;
  margin: 0 auto;
  margin-top: 2em;
  font-size: 20px;
  line-height: 1.5em;
}

.section3 .input-email {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 1.5em;
  padding: 0.9em 1em;
  border-radius: 0.25em;
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.section3 .form-options {
  /* display: block; */
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.section3 .form-control .img {
  height: 0.8em;
  margin-right: 0.5em;
}

.section3 .form-control {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 1.5em;
  padding: 0.9em 1em;
  border-radius: 0.25em;
  color: #fff;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.section3 .small-info {
  width: 50%;
  margin: 0 auto;
  margin-top: 2em;
  font-size: 10px;
}
.section3 a {
  color: white;
}

.section3 .submit {
  border-radius: 40px;
  border: 1px white solid;
  padding: 10px;
  font-size: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  cursor: pointer;
}
.section3 .submit:hover {
  background-color: white;
  color: #141414;
}

.section4 {
  background-image: radial-gradient(circle at 100%, #2a4ea9, #ED217C, #FF9B71);
  color: white;
}
.section4 h2 {
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 2.0em;
  line-height: 1.1em;
}
.section4 .title {
  color: #2a4ea9;
}
.section4 img {
  width: 300px;
  position: relative;
  bottom: -60px;
  left: 40%;
}

.section5 {
  background-color: #141414;
  color: white;
  padding-top: 100px;
  padding-bottom: 70px;
}
.section5 h2 {
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 3.0em;
  line-height: 1.1em;
  color: #883baa;
}

.section5 .text1 {
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 1.8em;
  line-height: 1.1em;
}
.section5 .text2 {
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 1.5em;
  line-height: 1.1em;
}

.section6 .hero-clip {
  overflow-x: hidden;
  background-color: #141414;
}
.section6 .gradient {
  overflow-y: visible;
}
.section6 .hero {
  margin-top: 7em;
  margin-bottom: 6em;
  overflow-y: visible;
  background-image: linear-gradient(45deg, #2a4ea9, #9350a6, #ce5994, #f1747f, #ff9b71);
}
.section6 .hero-container.mac-window {
  max-width: 1000px;
}
.section6 .hero > .hero-container {
  width: 100%;
  margin: auto;
}
.section6 .hero > .hero-container > img {
  width: 50%;
  margin-top: -5em;
  margin-bottom: -6em;
  margin-left: 25%;
}


.section7 {
  background-color: #141414;
  color: white;
  padding: 50px;
  padding-bottom: 100px;
}
.section7 h2 {
  color: white;
  /* width: 50%; */
  text-align: center;
  margin: 0 auto;
  font-size: 3.5em;
  line-height: 1em;
  padding-top: 50px;
}
.section7 p {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 2em;
  font-size: 20px;
  line-height: 1.5em;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
}

footer p {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 10px;
}